---
hideHeader: false
layout:  templates/base.html
title: Robert James Gabriel - Software Engineer
youtubeId: PfILiWebkuc
cardTitle: Robert James' Blog
description: Welcome to where my passion for technology, insights on accessibility, and startup adventures meet personal stories.
keywords: html5, css3, sass, less, nodejs, vue.js, php, npm, jquery, javascript, angularjs, pwa, data structures, mobile application,golang,helpebird,opendyslexic,opendyslexic

url:
---










<div class="sm:px-8 mt-16">
  <div class="mx-auto max-w-2xl lg:max-w-3xl">
        
        <header class="mb-12">
          <h1 class="text-4xl font-bold tracking-tight text-black sm:text-5xl">
            Welcome to my Blog
          </h1>
          <p class="mt-6 text-xl text-black">
            Welcome to my world of tech, accessibility insights, and startup adventures! 🚀

            <br>
            In this blog, I share my journey through tech innovation, founding a company, and personal experiences.
            <br>
            It's a mix of professional insights and personal stories, all driven by my love for tech. 
            </p>
        </header>




        <div
        class="not-prose grid grid-cols-1 sm:gap-x-2 md:gap-x-10 gap-y-8 md:grid-cols-2 lg:grid-cols-2"
      >
      {%- for post  in collections.blog reversed -%}
      <article class="card card-compact bg-base-100 transition-all duration-200 hover:-translate-y-1 shadow-md h-full flex flex-col ">
        <a
          href="{{ post.url}}" title="{{ post.data.cardTitle}} - Learn more" aria-label="{{ post.data.cardTitle}} - Learn more"
          class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 block transition-transform duration-200 focus:-translate-y-1"
        >
          <figure class="px-4 pt-4">
            <img
              loading="lazy"
              src="{{post.data.img}}"
              alt="{{ post.data.cardTitle}} logo - {{ post.data.blog_snip | truncate: 100 }}"
              class="rounded-lg border border-base-content bg-base-300"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">{{ post.data.cardTitle}}</h2>

            <div class="badge badge-neutral badge-sm  mb-4">          {{ post.data.dated}}</div> 

 
           

          </div>
        </a>
      </article>
      {%- endfor -%}
      
      
      
      </div>
      










      </div>
    </div>










