---
layout: templates/base.html
title: Robert James Gabriel - Software Engineer
youtubeId: PfILiWebkuc
cardTitle: Read. Write. Adapt the web to your needs.
description:
  Helperbird is a browser extension that gives you the features to make the web more accessible and
  you more productive. Providing you with  dyslexia fonts, dyslexia support, text to speech,
  overlays, dyslexia ruler, immersive reader, reader mode, annotations and  more.
keywords: html5, css3, sass, less, nodejs, vue.js, php, npm, jquery, javascript, angularjs, pwa, data structures, mobile application,golang,helpebird,opendyslexic,opendyslexic

url:
---


<div class="sm:px-8 mt-16 sm:mt-32">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <header class="max-w-2xl">
          <h1
            class="text-4xl font-bold tracking-tight text-zinc-800 text-zinc-100 sm:text-5xl"
          >
            Welcome to my mind.

            <br>
  My blog
          </h1>
          <p class="mt-6 text-lg text-zinc-600 text-zinc-400">
  Welcome to where my passion for technology, insights on accessibility, and startup adventures meet personal stories.
<br>
   In this blog, I share my journey through tech innovation, founding a company, and the personal experiences that shape my world.
<br>
    It's a blend of professional insights and personal tales, all wrapped up in my love for tech. Join me as we delve into this exciting, multifaceted adventure!
          </p>
        </header>
        <div class="mt-16 sm:mt-20">
          <div
            class="md:border-l md:border-zinc-100 md:pl-6 border-zinc-700/40"
          >
            <div class="flex max-w-3xl flex-col space-y-16">
              {%- for post  in collections.blog reversed -%}

              <article class="md:grid md:grid-cols-4 md:items-baseline">
                <div
                  class="md:col-span-3 group relative flex flex-col items-start"
                >
                  <h2
                    class="text-xl font-semibold tracking-tight text-zinc-800 text-zinc-100"
                  >

                    <span
                        class=" -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"
                      ></span
                      ><span class="relative z-10"
                        >{{ post.data.cardTitle}}</span
                      >
                  </h2>
                  <time
                    class="md:hidden relative z-10 order-first mb-3 flex items-center text-lg text-black pl-3.5"
                    datetime="2022-07-14"
                    ><span
                      class="absolute inset-y-0 left-0 flex items-center"
                      aria-hidden="true"
                      ><span
                        class="h-4 w-0.5 rounded-full bg-zinc-200 bg-zinc-500"
                      ></span></span
                    > {{ post.data.date}}</time
                  >
                  <p
                    class="relative z-10 mt-2 text-base text-black"
                  >
                    {{ post.data.blog_snip}}
                  </p>
                  <a
                   title="link to {{ post.data.cardTitle}}"  href="{{ post.url}}"

                    class="relative z-10 mt-4 flex items-center font-medium link link-secondary"
                  >
                    Read article
                  </a>
                </div>
                <time
                  class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 text-zinc-500"
                  datetime="2022-07-14"
                  >July 14, 2022</time
                >
              </article>


                {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
