//- Use `append vars` to override these in your page's layout
block vars
    - var metaTitle = 'Robert James Gabriel: Software engineer'
    - var metaDescription = 'Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issues'
    - var metaKeywords = 'HTML,CSS,XML,JavaScript,Robert James Gabriel,award winning, php , experienced,Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer,golang,web design'
    - var bodyClasses = ''
    - var pageUrl = 'https://robertgabriel.ninja'
    - var pageProduct = 'desk'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var showFooterNav = true
    - var showFooterSignup = true
    - var showHeader = true
    - var showMainNav = true
    - var showSearchBar = true
    - var develop = false
    - var currentPath = 'https://robertgabriel.ninja'

doctype
html(lang="en",itemscope,itemtype="http://schema.org/MobileApplication")

    block head
        head
            meta(charset='utf-8')
            meta(content='IE=edge', http-equiv='X-UA-Compatible')
            meta(content='width=device-width,initial-scale=1', name='viewport')
            meta(name='author', content='Robert James Gabriel')
            meta(name='twitter:card', content='summary')
            meta(name='twitter:description', content='Robert James Gabriel is a web engineer currently at Teamwork.com.He has also written papers on Learning Web Accessibility, Design and Machine Learning and Ux issue')
            meta(property='og:image', content='/assets/img/me/me-3.webp')
            meta(name='twitter:image:src', content='/assets/img/me/me-3.webp')
            meta(name="google-site-verification",content="-mPawakdhfe2oaojj2VrO8jxmkuqGBujRNPjLP8KlL8")
            meta(name='twitter:title', content=metaTitle)
            meta(name='theme-color', content='#eb298c')
            link(rel='manifest', href='/manifest.json')
            title
                | #{metaTitle}
            meta(name='title', content=metaTitle)
            meta(name='keywords', content=metaKeywords)
            link(rel='icon', type='image/png', href='/assets/img/core/favicon.png')
            link(rel='canonical', href=pageUrl)

            meta(itemprop='name', content=metaTitle)
            meta(property='og:title', content=metaTitle)
            meta(name='twitter:title', content=metaTitle)

            link(itemprop='url', href=pageUrl)
            meta(property='og:url', content=pageUrl)
            meta(name='twitter:url', content=pageUrl)

            meta(name='description', content=metaDescription)
            meta(itemprop='description', content=metaDescription)
            meta(name='twitter:description', content=metaDescription)
            meta(property='og:description', content=metaDescription)

            meta(property='author', content='Robert James Gabriel')
            meta(property='og:site_name', content='robertgabriel.ninja')
            meta(name='twitter:site', content='@robertjgabriel')
            meta(name='twitter:creator', content='@robertjgabriel')

            meta(name='theme-color', content='#eb298c')

            meta(name='msapplication-navbutton-color', content='#eb298c')

            meta(itemprop='image', content='https://robertgabriel.nina/assets/img/me/me-3.webp')
            meta(property='og:image', content='https://robertgabriel.nina/assets/img/me/me-3.webp')
            meta(name='twitter:image', content='https://robertgabriel.nina/assets/img/me/me-3.webp')
            meta(name='twitter:image:src', content='https://robertgabriel.nina/assets/img/me/me-3.webp')
            script(type='application/ld+json').
              {
              "@context": "http://schema.org",
              "@type": "Organization",
              "url": "https://robertgabriel.ninja",
              "logo": "assets/images/me/me-3.webp"
              }

            style
              include /docs/assets/css/styles.min.css
            block headScript
            block headStyles


    body(class=bodyClasses)

      include header
      block pageBody

      footer
        block pageFooter
          include footer
      //- Any modals you want to include
      //- Use `append modals` in your page's layout to add more for that page
      block modals
          //- include modal.pug
          //- include modals/easter-egg



      script(src='/assets/js/vendor.min.js',defer)
      script(src='/assets/js/app.min.js', defer)

