---
layout: templates/base.html
title: Sitemap and list of pages for Robert James
youtubeId: PfILiWebkuc
cardTitle:  Sitemap and list of pages for Robert James
description: Navigate through the comprehensive sitemap of Robert James Gabriel's work. This guide provides easy access to a variety of popular apps, Chrome and Firefox extensions, and other software projects. Each page showcases Robert's expertise as a software engineer, offering detailed insights into his innovative modules and versatile extensions designed to enhance user experiences.
keywords:  html5, css3, sass, less, nodejs, vue.js, php, npm, jquery, javascript, angularjs, pwa, data structures, mobile application,golang,helpebird,opendyslexic,opendyslexic


url: sitemap/
---










<div class="sm:px-8 mt-16 sm:mt-32">
  <div class="mx-auto w-full max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <header class="max-w-2xl">
          <h1
            class="text-4xl font-bold tracking-tight text-black 0 sm:text-5xl"
          >
          Our sitemap
          </h1>
          <p class="mt-6 text-xl text-black">
          Need to find something quickly on our site? Our sitemap is your go-to guide!
<br>
           It's simple, efficient, and gets you right where you want to be. From cool tools to insightful content, it's all here in a neat, organized layout.

<br>
           Click away and easily discover everything our website has to offer!
          </p>
        </header>
        <div class="mt-16 sm:mt-20">
          <ul
            role="list"
            class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
          >



					            {% for item in collections.all %}


            <li class="group relative flex flex-col items-start">

              <h2
                class="mt-6 text-lg font-semibold text-black"
              >
                <div
                  class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl"
                ></div>
              <span
                    class=" -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"
                  ></span
                  ><span class="relative z-10">              {{ item.data.title }}</span>
              </h2>
              <p
                class="relative z-10 mt-2 text-base text-black"
              >
              		 {{ item.data.description }}
              </p>
            <a
  href="{{ item.url }}"
  title="Link to {{ item.data.title }}"
  class="relative z-10 mt-6 flex link link-secondary"
  role="link"
  aria-label="Visit {{ item.data.title }}"
>
  <span class="ml-2">Visit</span>
</a>
            </li>



					 {%- endfor -%}


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
