
extends layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Donate or Support my work | Robert James Gabriel'
    - var metaDescription = 'Donate or Support my work.'
    - var metaKeywords = 'HTML, CSS, XML, JavaScript, Robert James Gabriel, award winning, php, experienced, Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer, golang, web design'
    - var pageUrl = 'https://www.robertgabriel.ninja/blog'
    - var masterBinding = Math.floor(Math.random() * (15 - 1300) + 1300)
    - var develop = false
    - var currentPath = 'https://www.robertgabriel.ninja/contact'

block pageBody
  .container.baseheader
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me.webp', alt='Robert James Gabriel', width='130', height='130')
          h1.text-center
            b Donate/Payment
          h2.text-center
            | Want to help me support my work on "OpenDyslexic For Chrome", my other other projects? or even new projects?
            | Did I do work for you? You can pay me using the following below.
        .row
          .col-sm-12.boxes
            h2 Pay using Stripe
            form(action="https://intense-plains-75758.herokuapp.com/donate?amount=500", method="post", id="stripe-donate")
              .form-group.label-placeholder
                label.control-label(for='amount') Amount to Donate in Dollars/Euros
                input.form-control(id="amount" type="number",placeholder="1 = 1 dollar/euro")
                span.help-block
                  | Remember this is in $/€
                  code span.help-block.hint

              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                data-name="Robert James Gabriel",
                data-image="./assets/img/me/me.webp"
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-locale="auto",
                data-description="Donate"
                )

        .row
          .col-sm-12.boxes
            h2 Pay using Paypal
            form(action="https://www.paypal.me/robertjgabriel", method="post")
              article
              a.btn.btn-flat.btn-warning(href='https://www.paypal.me/robertjgabriel') Paypal


        .row
          .col-sm-12.boxes
            h2 Support me though Patreon
            form(action="https://www.patreon.com/robertjgabriel", method="post")
              article
              a.btn.btn-flat.btn-warning(href='https://www.patreon.com/robertjgabriel') Patreon



      .col-sm-3.col-md-3.col-lg-3

  script.
    document.getElementById("amount").onchange = function() {myFunction()};
    function myFunction() {
    var amount = document.getElementById("amount");
    var form = document.getElementById("stripe-donate")
    form.action = "https://intense-plains-75758.herokuapp.com/donate?amount=" + amount.value + "00";
    }
