
extends layout/layout
append vars
    - var bodyClasses = ''

block pageBody
  .container.baseheader
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me.webp', alt='Robert James Gabriel', width='130', height='130')
          h1.text-center
            b Supporters
          h2.text-center
            | Want to help me support my work on "OpenDyslexic For Chrome", my other other projects? or even new projects?
        .row

        .row
          .col-sm-12.boxes
            h2 Thank you 🎂
            form(action="https://intense-plains-75758.herokuapp.com/500", method="post")
              article
                p
                  | You'll have my eternal gratitude
                p
                  | Donate: $5.00
              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-locale="auto",
                data-description="Donate",
                data-amount="500")

        .row
          .col-sm-12.boxes
            h2 Bronze 🥉
            form(action="https://intense-plains-75758.herokuapp.com/subscriptions/1000", method="post")
              article
                p
                  | Your name will be added to the Supporter section of robertgabriel.ninja/thanks
                p
                  | This is recurring
                p
                  | Donate: $10.00
              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-locale="auto",
                data-description="Donate",
                data-amount="1000")

        .row
          .col-sm-12.boxes
            h2 Silver 🥈
            form(action="https://intense-plains-75758.herokuapp.com/2000", method="post")
              article
                p
                  | Your name will be added to the Supporter section of robertgabriel.ninja/thanks
                p
                  | This is recurring
                p
                  | Donate: $20.00
              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-locale="auto",
                data-description="Donate",
                data-amount="2000")

        .row
          .col-sm-12.boxes
            h2 Gold 🥇
            form(action="https://intense-plains-75758.herokuapp.com/10000", method="post")
              article
                p
                  | Your name will be added to the Supporter section of robertgabriel.ninja/thanks
                p
                  | This is recurring
                p
                  | Donate: $100.00
              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-locale="auto",
                data-description="Donate",
                data-amount="10000")

        .row
          .col-sm-12.boxes
            h2 Platinum 🍀
            form(action="https://intense-plains-75758.herokuapp.com/10000", method="post")
              article
                p
                  | Your name will be added to the Supporter section of robertgabriel.ninja/thanks
                p
                  | This is recurring
                p
                  | Donate: $1000.00
              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-image="./assets/img/me/me.webp"
                data-name="Donate to Robert James",
                data-locale="auto",
                data-description="Donate 1000.00",
                data-amount="100000")


        .row
          .col-sm-12.boxes
            h2 Paypal Donate 💖
            form(action="https://www.paypal.me/robertjgabriel", method="post")
              article
                p
                  | I will give you a huge hug
                p
                  | Donate: Up to you
              a.btn.btn-flat.btn-warning(href='https://www.paypal.me/robertjgabriel') Paypal

      .col-sm-3.col-md-3.col-lg-3

