
extends /__layout/layout
append vars
    - var bodyClasses = ''
    - var metaTitle = 'Donate & Payments | Robert James Gabriel'
    - var metaDescription = 'Donate and support Robert James Gabriel`s work on open source projects. Each donation goes to support the projects.'
    - var metaKeywords = 'HTML, CSS, XML, JavaScript, Robert James Gabriel, award winning, php, experienced, Galen, angular, HTML, HTML5, JavaScript, Node, PHP and SQL developer, golang, web design'
    - var pageUrl = url + 'donate'


    - var currentPath = url + 'donate'

block pageBody
  .container.base-header
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper
        .row

          img.me.img-responsive(src='./assets/img/me/me-5.webp', alt='Robert James Gabriel', width='150', height='150')
          h1.text-center
            b Donate to my Work
          h2.text-center
            | Support my open source work or use one of my apps.
        .row
          .col-sm-12
            .boxes
              h2 Pay using Paypal
              p
                | PayPal Holdings, Inc. is an American company operating a worldwide online payments system that supports online money transfers and serves as an electronic alternative to traditional paper methods like checks and money orders.
              form(action="https://www.paypal.me/robertjgabriel", method="post")
                article
                a.btn.btn-flat.btn-warning(href='https://www.paypal.me/robertjgabriel') Paypal

        .row
          .col-sm-12
            .boxes
              h2 Support me though Patreon
              p
                | Patreon is a membership platform that provides business tools for creators to run a subscription content service, as well as ways for artists to build relationships and provide exclusive experiences to their subscribers, or "patrons."
              form(action="https://www.patreon.com/robertjgabriel", method="post")
                article
                a.btn.btn-flat.btn-warning(href='https://www.patreon.com/robertjgabriel') Patreon


        .row
          .col-sm-12
            .boxes
              h2 Pay using Stripe
              p
                | Stripe is a technology company. Its software allows individuals and businesses to receive payments over the Internet. Stripe provides the technical, fraud prevention, and banking infrastructure required to operate on-line payment systems.
              form(action="https://intense-plains-75758.herokuapp.com/donate?amount=500", method="post", id="stripe-donate")
                .form-group.label-placeholder
                  label.control-label(for='amount') Amount to Donate in Dollars/Euros
                  input.form-control(id="amount" type="number",placeholder="1 = 1 dollar/euro")
                  span.help-block
                    | Remember this is in $/€
                    code span.help-block.hint

                script(
                  src="https://checkout.stripe.com/v2/checkout.js",
                  data-name="Robert James Gabriel",
                  data-image="./assets/img/me/me-5.webp"
                  class="stripe-button",
                  data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                  data-locale="auto",
                  data-description="Donate"
                  )




  script.
    document.getElementById("amount").onchange = function() {myFunction()};
    function myFunction() {
    var amount = document.getElementById("amount");
    var form = document.getElementById("stripe-donate")
    form.action = "https://intense-plains-75758.herokuapp.com/donate?amount=" + amount.value + "00";
    }
