
extends layout/layout
append vars
    - var bodyClasses = ''

block pageBody
  .container.baseheader
    .row
      .col-sm-3.col-md-3.col-lg-3
      .col-sm-6.col-md-6.col-lg-6.wrapper

        .row

          img.me.img-responsive(src='./assets/img/me/me.webp', alt='Robert James Gabriel', width='130', height='130')
          h1.text-center
            b Payment
          h2.text-center
            | Hey, so I did work for you. Time to pay me :) I like Stripe but Paypal is also good.


        .row
          .col-sm-12.boxes
            h2 €15.00
            form(action="https://intense-plains-75758.herokuapp.com/1500", method="post")
              article
                p
                  | Donate: €15.00
              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-locale="auto",
                data-description="Donate",
                data-amount="1500")


        .row
          .col-sm-12.boxes
            h2 €30.00
            form(action="https://intense-plains-75758.herokuapp.com/3000", method="post")
              article
                p
                  | Donate: €30.00
              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-locale="auto",
                data-description="Donate",
                data-amount="3000")


        .row
          .col-sm-12.boxes
            h2 €40.00
            form(action="https://intense-plains-75758.herokuapp.com/4000", method="post")
              article

                p
                  | Payment: €40.00
              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-locale="auto",
                data-description="Donate",
                data-amount="4000")

        .row
          .col-sm-12.boxes
            h2 €60.00
            form(action="https://intense-plains-75758.herokuapp.com/6000", method="post")
              article

                p
                  | Payment: €60.00
              script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='pk_live_4Uw6QOYu7lXV9N6XhFGYRjPf',
                data-locale="auto",
                data-description="Donate",
                data-amount="6000")

        .row
          .col-sm-12.boxes
            h2 You can also pay by Paypal aswell.
            form(action="https://intense-plains-75758.herokuapp.com/500", method="post")
              article
                p
                  | I will give you a huge hug
                p
                  | Donate: Up to you
              a.btn.btn-flat.btn-warning(href='https://www.paypal.me/robertjgabriel') Paypals

      .col-sm-3.col-md-3.col-lg-3

